<h1><%= @article.title %></h1>
<p><%= @article.content %></p>
<%= link_to "home", articles_path %>
<%= link_to "Edit this recipe", edit_article_path %>
<%= link_to "DESTROY!!!", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Delete recipe?"} %>
